# データベースの設定
DB_NAME=plateau
DB_USER=plateau_user
DB_PASS=plateau_user_password

# PLATEAU VIEW向けデータを作成するスクリプトのディレクトリ
SCRIPT_PATH=/var/www/html/api/scripts

# 演算データのディレクトリ
DATA_DIR=/mnt/disk-demo/sample_data
